.header {
/*
    height: 50px;
*/
    margin: auto;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px 0;
    /*border-top-right-radius: 5px;*/
    /*border-top-left-radius: 5px;*/
}

.header h1 {
    margin: 10px;
    font-family: Times, DejavuSerif, serif;
    font-weight: normal;
    font-style: italic;
    text-shadow: #000 0 0 3px;
    color: beige;
}

ul#navigation {
    list-style: none;
}

nav li {
/*
    width: 2em;
*/
    float: left;
    display: block;
    border-right: 1px solid #ccc;
    border-left: 1px solid #eee;
    padding: 10px 1em;
    text-align: center;
}

nav li a {
    text-decoration: none;
    color: #8b0000;
/*
    font-variant: small-caps;
*/
    font-weight: bold;
/*
    padding: 
*/


}

#content {
    clear: both; min-height: 200px;
    padding: 20px 1em;
    border-bottom: 1px solid #ccc;
}

.footer {
    /*border-top: 2px solid #eee;*/
    padding: 30px 1em 100px;
    color: #666;
    font-size: .7em;
    text-align: center;
    
    background: -moz-linear-gradient(#eee, #ccc);
    background: -webkit-linear-gradient(#eee, #ccc);
    background: -o-linear-gradient(#eee, #ccc);
    
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    
    text-shadow: #999 -1px -1px 1px;
}
