li.media-object {
    padding: 8px 10px;
    list-style: none;
    float: left;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px 3px #bbb;
}

li.media-object img + a.more-link {
    width: 50px;
    padding: 2px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 12px;
    color: #333;
    text-align: center;
    text-decoration: none;
/*
    font-variant: small-caps;
*/
    display: block;
    margin: auto;
}

a.more-link:hover {
    background-color: lightsalmon;
    border-color: #8b0000;
}

a.more-link:focus {
    outline: 0;
}

li.media-object:hover, li.media-object:focus {
    opacity: 1;
    background: beige;
}

li.media-object img {
    width: 120px; height: 120px;
    overflow: hidden;
    border-radius: 3px;
    margin: 0 0 5px 0;
}

div.info-container {
    /*visibility: hidden;*/
    position: absolute;
    top: 30px; left: 50%;
    width: 400px;
    margin-left: -220px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px #bbb;
    background-color: #fff;
}

table.info-table {
    border-collapse: collapse;
}

table.info-table th {
    padding: 10px;
}

table.info-table td {
    padding: 5px;
    font-size: 12px;
    border: 1px dotted #bbb;
}

p.small-note {
    text-align: center;
    font-size: 0.8em;
    opacity: .8;
    font-style: italic;
}

a.closebutton {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.closebutton:before {
    /*content: "×";*/
}

.closebutton:hover {
    color: salmon;
}

.closebutton:active {
    outline: none;
}
